*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    width: 80%;
    align-items: center;
    margin: auto

}

section{
    padding: 100px 0;
}

/*Header*/
header{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

nav{
    margin: 20px 40px;
}

ul{
    display: flex;
    list-style: none;
}

header nav ul li{
    padding: 0 25px;
}

footer nav ul li{
    padding: 0 25px;
}

.logo img{
    width: 150px;
    margin: 20px 40px;
}


ul li a{
    text-decoration: none;
    color: black;
    display: inline-block
}

header li a::after{
    content: "";
    display: block;
    background: black;
    width: 0;
    height: 2px;

}

ul li a:hover::after{
    width: 100%;
}

.cooking_book, .cooking_asia, .cooking_culinary{
    background: black;
}

.cooking_book h2, .cooking_asia h2, .cooking_culinary h2{
    text-align: center;
    font-size: 60px;
    color: #ffffff;
}

.cooking_book a, .cooking_asia a, .cooking_culinary a{
    text-decoration: none;
}

.cooking_book-list, .medical_book-list, .cooking_asia-list, .cooking_baking-list, .cooking_culinary-list{
    display: flex;
    align-items: center;
}

.cooking_book-info, .cooking_asia-info, .cooking_culinary-info{
    flex-basis: 20%;
    padding: 1.6rem;
    border: 1px solid #ffffff;
    border-radius: 20px;
    margin: 40px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.cooking_book-info a, .cooking_asia-info a, .cooking_culinary-info a{
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

.cooking_book-info a span, .medical_book-info a span, .cooking_asia-info a span, .cooking_baking-info a span, .cooking_culinary-info a span{
    margin-top: 20px;
}

.cooking_book-info a img, .medical_book-info a img, .cooking_asia-info a img, .cooking_baking-info a img, .cooking_culinary-info a img{
    width: 100%;
    height: auto;
}

.medical_book, .cooking_baking{
    background: #ffffff;
}


.medical_book h2, .cooking_baking h2{
    text-align: center;
    font-size: 60px;
    color: black;
}

.medical_book-info, .cooking_baking-info{
    flex-basis: 20%;
    padding: 1.6rem;
    border: 1px solid black;
    border-radius: 20px;
    margin: 40px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    max-height: 80%;
}

.medical_book-info a, .cooking_baking-info a{
    text-align: center;
    text-decoration: none;
    color: black;
}

.medical_book-info a span, .cooking_baking-info a span{
    font-weight: 500;
}

.medical_book a, .cooking_baking a{
    text-decoration: none;
}



footer li a::after{
    content: "";
    display: block;
    background: #ffffff;
    color: black;
    width: 0;
    height: 2px;
}

/* Contact Page */
.contact_form .container{
    justify-content: center;
}

.contact_form form{
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.form_row{
    display: flex;
    padding: 10px 0;
    margin: 10px 0;
    width: 80%;
    justify-content: space-between;
}


.form-field input{
    padding: 5px 0;
}

.form-field input::placeholder{
    padding-left: 5px;
}

.btn{
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn input{
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    color: black;
    background: #ffffff;
    margin-right: 20px;

}

.btn input:hover{
    color: white;
    background: black;
}

/*Book*/

.contact_form .container h1{
    font-size: 60px;
    margin-bottom: 40px;
}

.contact_form .container label{
    font-weight: 600;

}

.container_left, .container_middle, .container_right{
    flex-basis: 30%;
    padding: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.container_middle img{
    width: 33%;
    height: auto;
    padding: 5px;
}

.container_middle{
    display: flex;
    flex-direction: column;
}


.container_left img{
    width: 100%;
    height: auto;
}

.container_right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container_right h2{
    font-size: 60px;
    margin-bottom: 40px;
}

.container_right button{
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    background-color: orange;
    color: #ffffff;
    border: 1px solid orange;
}

.book_breadcrumb{
    text-align: center;
    margin: 40px 0;
    align-items: center;
   
}

.book_breadcrumb a{
    text-decoration: none;
    font-weight: 400;
    margin: 0 10px;
    color: black;
}

.book_desc{
    background: black;
}

.book_desc .container{
    display: flex;
    flex-direction: column;
}

.book_desc h2{
    margin: 40px 100px;
    color: #ffffff;
}

.book_more-desc p{
    line-height: 40px;
    margin: 20px 0;
    color: #ffffff;
}

.book_breadcrumb a:hover{
    font-weight: 600;
}

.container_right button:hover{
    background-color: #ffffff;
    border: 1px solid orange;
    color: orange;
    font-weight: 600;
    cursor: pointer;
}

footer{
    background: black;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

footer nav ul li a{
    color: white;
}

@media screen and (max-width: 960px) {
   header{
    flex-direction: column;
   }

   nav{
    width: 100%;
    text-align: center;
    border-top: 2px solid black;
   }

   header nav ul{
    background: white;
    color: white;
    display: block;
   }

   .logo img{
    width: 100px;
    margin: 20px 40px;
   }

    header nav ul li:hover{
    background: rgba(0,0,0,0.3);
   }

   .container{
        flex-direction: column;
   }


   .contact_form .container h1{
    font-size: 40px;
   }

   .form_row{
    flex-direction: column;
    align-items: center;
   }

   footer{
       flex-direction: column;
   }

   footer nav ul{
    color: white;
    display: block;
   }

   .container_middle{
    flex-direction: row;
    max-width: 75%;
   }
}